h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  margin: auto;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

h3{
  font-family: cursive;
  color: darkblue;
}

p{
  font-family: cursive;
  font-size: 16px;
  color:darkblue;
}

.btn{
  margin-bottom: 20px;
}

.postcardHeader{
  display: flex;
  justify-content: flex-end;
}

#postcard {
  display: none;
  height: 675px;
  border: dashed 5px red;
  background-color: beige;
}

#stamp{
  display: flex;
  height: 125px;
}

#signature{
  text-align: center;
  font-size: 18px;
}

#address{
  display: flex;
  min-height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#address::before{
  content:"";
  background-color: #000;
  position: absolute;
  width: 5px;
  height: 450px;
  top: 10px;
  left: 5%;
  display: block;
}